.tags-list {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.tag-item {
  padding: 8px 22px;
  margin-right: 10px;
  background-color: $default-color;
  border-radius: 22px;
  cursor: pointer;
  user-select: none;
}

.tag-item.isPreview {
  padding: 0;
  background-color: $default-color;
  color: $primary-color;

  &:before {
    content: "#";
  }
}
